.main-chat
  .main-chat__group-info
    .main-chat__group-info__leftbox
      .main-chat__group-info__leftbox__current-group
        = @group.name
      .main-chat__group-info__leftbox__member-list
        .main-chat__group-info__leftbox__member-list__member
          Member
        %p :
        - @group.users.each do |user|
          .main-chat__group-info__leftbox__member-list__name
            = user.name
    .main-chat__group-info__edit
      .main-chat__group-info__edit__edit-btn
        = link_to "edit", edit_group_path(@group)

  .main-chat__message-info
    = render @messages

  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "main-chat__message-form__group"}, local: true do |f|
      .main-chat__message-form__group__info
        = f.text_field :content, class: 'main-chat__message-form__group__info__text', placeholder: 'type a message'
        = f.label :image, class: 'main-chat__message-form__group__info__select' do
          = icon('far', 'image')
          = f.file_field :image
      .main-chat__message-form__group__submit
        = f.submit 'Send', class: 'main-chat__message-form__group__submit__btn'
